
<!--Header Navigation bar and Side bar imported from HeadComponent-->
	<head-comp></head-comp>

<!-- HTML base code for Assessment Component-->
	<div class="fade_white">
		<div class="content">
			<h1>Search for Skill Tests</h1>
			<div class="container"   fxLayout   fxLayoutAlign="left"     fxLayoutGap="10px"     fxLayoutGap.xs="10px">
				<input class="input_over"  placeholder="Enter topic,skill, programming language" >
			</div>
			<popular_skill></popular_skill>
		</div>
	</div>
	<router-outlet></router-outlet>